<footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://www.facebook.com/agrawal.rudraksh" target="blank"><span class="social-icon fab fa-facebook-f"></span></a>
      <a href="https://twitter.com/Rudraksh_Ag" target="blank"><span class="social-icon fab fa-twitter"></span></a>
      <a href="https://www.instagram.com/__rudrakshagarwal__/?hl=en" target="blank"><span class="social-icon fab fa-instagram"></span></a>
      <a href="https://www.agrawal.samrat11173@gmail.com" target="blank"><span class="social-icon fas fa-envelope"></span></a>
      
      <p>© Copyright 2018 TinDog</p>
      <p class="cta-para">Developed by Rudraksh Agarwal</p>
    </div>
    
  </footer>

</body>

</html>